<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">{% if site.mobile %}
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>{% if page.meta_description %}
<meta name="description" content="{{ page.meta_description }}">{% endif %}{% if page.meta_keywords %}
<meta name="keywords" content="{{ page.meta_keywords }}">{% endif %}{% if site.mobile %}
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-57x57-precomposed.png">
<meta name="msapplication-TileImage" content="/apple-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#404040">{% endif %}
<!--[if gte IE 8]><!-->
<link rel="stylesheet" href="{{ site.path_assets }}css/{{ site.shortname }}.css">{% if site.env == 'dev' %}
<script src="{{ site.path_assets }}js/libs/modernizr-latest.js"></script>{% else %}
<script src="{{ site.path_assets }}js/libs/modernizr.js"></script>{% endif %}
<!--<![endif]-->
</head>
<body{% if page.section %} class="{{ page.section }}"{% endif %}>
<div class="lw">
<header class="lh" role="banner">
<h1>Site Title</h1>
<nav role="navigation">
<h2 class="vh">Site Navigation</h2>
<ul>
<li class="{% if page.section contains 'home' %} active{% endif %}"><a href="/">Home</a></li>
</ul>
</nav>
</header>
<div class="lc" role="main">
{{ content }}
</div>
<footer class="lf" role="contentinfo">
<p>Copyright &#169; {{ site.time | date: "%Y" }} </p>
</footer>
</div>
<!--[if gte IE 8]><!-->{% if site.env == 'dev' %}
<script src="{{ site.path_assets }}js/libs/jquery-1.10.1.js"></script>
<script src="{{ site.path_assets }}js/{{ site.shortname }}.plugins.js"></script>
<script src="{{ site.path_assets }}js/{{ site.shortname }}.js"></script>
<script src="//localhost:35729/livereload.js"></script>
{% else if site.env == 'stg' OR site.env == 'prd' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.path_assets }}js/libs/jquery-1.10.1.min.js"><\/script>')</script>
<script src="{{ site.path_assets }}js/{{ site.shortname }}.plugins.js"></script>
<script src="{{ site.path_assets }}js/{{ site.shortname }}.js"></script>
{% endif %}<!--<![endif]-->{% if site.env == 'prd' %}
{% include tracking.html %}
{% endif %}
</body>
</html>