<!doctype html>
<!--[if lt IE 7]><html class="no-js no-datauri ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js no-datauri ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{% endif %}</title>{% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description }}">{% endif %}{% if page.meta_keywords %}
    <meta name="keywords" content="{{ page.meta_keywords }}">{% endif %}{% if site.author %}
    <meta name="author" content="{{ site.author }} {@link {{ site.author_twitter }} | {{ site.author_url }}}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!--[if gt IE 6]><!-->
    <link href="{{ site.assets_url }}css/screen.css{{ site.assets_cache_buster}}" rel="stylesheet">
    <script src="{{ site.assets_url }}js/libs/modernizr-1.7.min.js"></script>
    <!--<![endif]-->
  </head>
  <body{% if page.section %} class="{{ page.section }}"{% endif %} id="{{ site.id }}">
    <div id="Container">
      <header id="Header" role="banner">
        <p id="Branding"><a href="{{ site.url }}"><img alt="" height="50" src="{{ site.assets_url }}images/global/{{ site.name }}.png" width="150">{{ site.title }}</a></p>
        <nav id="NavPri" role="navigation">
          <ul>
            <li{% if page.section contains 'home' %} class="active"{% endif %} id="NP1"><a href="{{ site.url }}">Home</a></li>
          </ul>
        </nav>
      </header>
      <div id="Content" role="main">

{{ content }}

      </div>
      <footer id="Footer" role="contentinfo">
        <p class="legal">Copyright &#169; {{ 'now' | date: "%Y" }} <a href="http://{{ site.domain }}/">{{ site.title }}</a></p>
      </footer>
    </div>{% if site.env == 'development' %}
    <!--[if gt IE 6]><!-->
    <script src="{{ site.assets_url }}js/libs/jquery-1.5.2.min.js"></script>
    <script src="{{ site.assets_url }}js/plugins.js"></script>
    <script src="{{ site.assets_url }}js/script.js"></script>
    <!--<![endif]-->{% else if site.env == 'staging' OR site.env == 'production' %}
    <!--[if ! lte IE 6]><!-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='{{ site.assets_url }}js/libs/jquery-1.5.2.min.js'>\x3C/script>")</script>
    <script src="{{ site.assets_url }}scripts/{{ site.name }}.js{{ site.assets_cache_buster}}"></script>
    <!--<![endif]-->{% endif %}{% if site.env == 'production' %}
    <script>
      var _gaq=[["_setAccount","{{ site.google_analytics_id }}"],["_trackPageview"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>{% endif %}
  </body>
</html>